body{
	background-color: #f5f5d5;
}
#container {
	width:1000px;
    margin: 0 auto;
    background-color: #f5f5d5;
    padding: 1em;
}

#article-title h1, h2, h3 {
    margin: .4em 0 .2em 0;
    padding: 0 0 .2em 0;
    color: #000;
    font-weight: 500;
    letter-spacing: -0.03em;
    border-bottom: 1px solid #d3d3d3;
}
