<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{articleTitle}}</title>
    <!-- <link rel="stylesheet" type="text/css" href="./static/css/github.css" /> -->
    <script src="./static/js/prism.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/css/common.css?v=0.0.1" />
    <link rel="stylesheet" type="text/css" href="./static/css/prism.css" />
</head>
<body>
        <div id="container">
                <div id="article-title">
                  <h1>{{articleTitle}}</h1>
                  <div id="article-meta">
                      <span>作者:{{author}}</span>
                      <span>发表时间:{{ mtime }}</span>
                  </div>
                </div>
                <div id="article-body">
                    {{articleContent}}
                </div>
                <div id="article-footer">
                    <p>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</p>
                    <p>Powered by UMark</p>
                </div>
        </div>
</body>
</html>